@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

/*===================spinner===================*/
.lds-dual-ring {
    display: block;
    width: 80px;
    height: 80px;
    margin: 10rem auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #d53042;
    border-color: #d53042 transparent #d53042 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*===================spinner===================*/
:root {
    /* dark shades of primary color*/
    --clr-primary-darker: #d0192d;
    /* primary/main color */
    --clr-primary: #d53042;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    /* darkest grey - used for headings */
    --clr-success: #25bb32;
    /* grey used for paragraphs */
    --clr-danger: #bb2525;

    --clr-white: #fff;
    --clr-white-darker: #f7f6f6;

    --clr-red-light: hsl(360, 71%, 66%);

    --clr-black: #222;
    --light-shadow: 0 10px 10px rgba(0, 0, 0, 0.308);
    --dark-shadow: 0 8px 8px rgba(0, 0, 0, 0.452);
}
body {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
    background: #e8f3f1;
    font-family: "Roboto Slab", serif;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 35px;
    outline: none;
    margin: 2px 0 10px 0;
    border: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1rem;
}
h4 {
    font-size: 0.875rem;
}

.btn {
    min-width: 120px;
    max-width: 200px;
    width: 40%;
    display: block;
    margin: 2.5rem auto;
    height: 30px;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    cursor: pointer;
    transition: ease-in-out;
    letter-spacing: 1.5px;
}

.btn:hover {
    background: var(--clr-primary-darker);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.109);
}
.btn-cards {
    width: 80%;
    margin: 1rem auto;
    height: 30px;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-family: "Roboto Slab", serif;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: ease-in-out;
}

.btn-cards:hover {
    background: var(--clr-primary-darker);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.109);
}

.btn-search {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    transform: translateY(20px);
    height: 30px;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    cursor: pointer;
    transition: ease-in-out;
    letter-spacing: 1.5px;
}

.btn-search:hover {
    background: var(--clr-primary-darker);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.109);
}

.danger {
    width: 100%;
    color: var(--clr-danger);
    text-align: center;
    position: absolute;
    top: 0;
}
.success {
    width: 100%;
    color: var(--clr-success);
    text-align: center;
    position: absolute;
    top: 0;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }

    img {
        width: 200px;
        display: block;
    }

    .btn {
        width: 200px;
        display: block;
        margin: 2.5rem auto;
        height: 30px;
        background: var(--clr-primary);
        border: none;
        outline: none;
        border-radius: 10px;
        color: #fff;
        font-size: 15px;
        font-family: "Roboto Slab", serif;
        cursor: pointer;
        transition: ease-in-out;
        letter-spacing: 1.5px;
    }

    .btn:hover {
        background: var(--clr-primary-darker);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.109);
    }
}
